/* all  */
* {
  margin: 5px;
  position: relative;
}

img {
  max-width: 100px;
  max-height: 100px;
  position: relative;
}

.leftSide img {
  max-width: 300px;
  max-height: 300px;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin: 10px;
  padding-bottom: 15px;
}

h2 {
  font-weight: bold;
}


body {
  background-color: #eac5d8;
  /* rgb(244, 184, 222); */
  padding: 10px;
}

#columns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#rightSide {
  min-width: 60%;
}

#leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
}

#leftSide h2 {
  text-align: center;
}


.myInput {
  position: sticky;
}

#myInput {
  background-image: url('/images/searchicon1.png');
  /* Add a search icon to input */
  background-position: 10px 12px;
  /* Position the search icon */
  background-repeat: no-repeat;
  /* Do not repeat the icon image */
  width: 100%;
  /* Full-width */
  font-size: 16px;
  /* Increase font-size */
  padding: 12px 20px 12px 40px;
  /* Add some padding */
  border: 1px solid #ddd;
  /* Add a grey border */
  margin-bottom: 12px;
  /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #DBD8F0;
  /* Add a border to all links */
  margin-top: -1px;
  /* Prevent double borders */
  background-color: #AFBED1;
  /* Grey background color */
  padding: 12px;
  /* Add some padding */
  text-decoration: none;
  /* Remove default text underline */
  font-size: 18px;
  /* Increase the font-size */
  color: black;
  /* Add a black text color */
  display: block;
  /* Make it into a block element to fill the whole list */
}

#myUL li a a {
  /* make bold */
  font-weight: bold;
  color: black;
  /* Add a black text color */
  display: block;
  /* Make it into a block element to fill the whole list */
}



#myUL li a:hover:not(.header) {
  background-color: #56cbf9;
  transform: scale(1.01);
  /* Add a hover effect to all links, except for headers */
}


@media only screen and (max-width: 900px) {
  #columns {
    flex-direction: column;
  }

  #leftSide {
    position: relative;
  }

  #rightSide {
    max-width: 100%;
  }
}