body {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.selectDiv {
    position: fixed;
}

.poke {
    height: 30%;
    width: 100%;
    flex: 1;
    padding: 10px;
    text-align: center;
    /* border for testing */
    border: 1px solid black;
}

#compatibility {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#result {
    font-style: italic;
}